.user-signin-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.user-new-form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 60vw;
    max-width: 400px;
    min-width: 250px;
    background-color: red;
    padding: 15px;
    border-radius: 8px;
}

.user-new-form input {
    padding: 5px;
    border-radius: 8px;
    border: none;
}