* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(28, 28, 31);
}

.post-item-feed {
    background-color: rgb(45, 45, 49);
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 1px 5px black;
    width: 70vw;
    min-width: 300px;
    max-width: 600px;
    list-style: none;
    position: relative;
    padding-bottom: 25px;
}

.link-to-profile{
   display: flex;
   align-items: center;
   gap: 15px;
   text-decoration: none;
   border-bottom: 1px solid rgba(255, 255, 255, 0.105);
   padding: 10px;
}

.link-to-profile img, .post-top-section img{
    border-radius: 50%;
    object-fit: cover;
 }

.link-to-profile h6{
    font-size: .9rem;
    color: white;
 }

 .link-to-profile p , .post-top-section p, .edited{
    font-size: .8rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.508);
 }

 .link-to-post {
    text-decoration: none;
    padding-bottom: 10px;
 }

 .link-to-post img {
    width: auto;
    max-width: 100%;
    min-width: 50px;
    height: auto;
    max-height: 400px;
    min-height: 50px;
    margin-bottom: 25px;
}

.link-to-post p {
    padding: 10px;
    color: white;
    word-wrap: break-word;
    text-align: justify;
}

.post-btns {
    display: flex;
    gap: 10px;
    position: absolute;
    bottom: 2.5%;
    right: 2.5%;
}

.post-btn {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
}
