* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.additional-info-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(45, 45, 49);
    height: 100vh;
}

.title-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    top: 2.5%;
    left: 2.5%;
    color: white;
}

.input-field {
    width: 50vw;
    max-width: 600px;
    min-width: 150px;
}

.title-section h3{
    font-size: 2rem;
}

.info-section {
    border: 1px solid rgba(191, 191, 191, 0.33);
    box-shadow: 0 4px 8px rgb(0, 0, 0);
    border-radius: 12px;
    margin: 15px;
    margin-bottom: 0;
    padding: 40px 10px;
    display: flex;
    justify-content: space-around;
    width: 90vw;
    gap: 10px;
    background-color: white;
}

.info-left {
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.profile-img {
    border-radius: 50%;
    object-fit: cover;
    transition: all .3s ease;
}

.profile-img:hover {
    transform: scale(1.05);
    cursor: pointer;
    border: 1px solid rgba(191, 191, 191, 0.33);
}

.info-right  {
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.info-right  p{
    color: black;
}

.info-left  p{
    color: black;
}

.btn-section {
    width: 90vw;
    margin: 15px;
    display: flex;
    justify-content: flex-end;
}
