* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    height: 100vh;
    width: 140px;
    background-color: rgb(28, 28, 31);
    padding: 30px 20px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    border-right: 1px solid rgba(93, 93, 93, 0.559);
    z-index: 100;
}

.sidebar-btns {
    display: flex;
    flex-direction: column;
    gap: 25px;
}


.nav-btn {
    font-size: 1.05rem;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    gap: 5px;
}

.main-btn-nav {
    font-size: 1.05rem;
    text-decoration: none;
    color: white;
    transition: all .3s ease-in-out;
}

.more {
    background-color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    font-weight: 600;
}

.logout-btn-nav {
    background-color: rgb(255, 63, 63);
    border: none;
    border-radius: 8px;
    font-weight: 600;
    color: white;
    padding: 5px 15px;
    transition: all .3s ease;
}

.logout-btn-nav:hover {
    cursor: pointer;
    background-color: rgb(249, 38, 38);
}

.toggle-nav {
    display: none;
}

/* .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-color: #1515153f;
    z-index: 1;
    cursor: pointer;
} */

@media(max-width: 900px) {
    nav {
        width: 40px;
        padding: 30px 10px;
    }

    .nav-btn-text {
        display: none;
    }

    .more {
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .more-text {
        display: none;
    }
}

@media(max-width: 400px) {
    nav {
        z-index: 1000;
        transform: translateX(-100%);
        transition: all .3s ease;
        width: 180px;
    }

    nav.active{
        /* display: block; */
        width: 50%;
        padding: 30px 20px;
        position: fixed;
        top: 0;
        left: 0;
        transform: translateX(0%);
    }
    .nav-btn-text {
        display: flex;
    }
    .nav-btn {
        font-size: 1.2rem;
    }
    .more {
        gap: 5px;
    }

    .more-text {
        display: flex;
    }
    .toggle-nav {
        display: block;
        position: absolute;
        top: 0;
        right: -23%;
        background-color: rgb(28, 28, 31);
        border: none;
        color: white;
        padding: 10px;
    }
}