.search-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(28, 28, 31);

    --main-bg-color: rgb(28, 28, 31);
    --second-bg-color: #353638;
    --third-bg-color: rgb(36, 33, 33);
    --main-text-color: white;
    --second-text-color: rgba(255, 255, 255, 0.682);
    --border-color: rgba(225, 225, 225, 0.321);
}

.search-page.light {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(250, 250, 250);

    --main-bg-color: rgb(250, 250, 250);
    --second-bg-color: #d7d7d7;
    --third-bg-color: #e9e9eb;
    --main-text-color: rgb(0, 0, 0);
    --second-text-color: rgba(0, 0, 0, 0.682);
    --border-color: rgba(0, 0, 0, 0.321);
}

.searchbar {
    margin-top: 15px;
    display: flex;
    gap: 5px;
}

.searchbar input {
    width: 50vw;
    max-width: 600px;
    height: 40px;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    padding: 0 5px 0 30px;
    outline: none;
    border: 1px solid var(--border-color);
}

.searchbar label {
    position: absolute;
    top: 7.5px;
    left: 7.5px;
    color: var(--second-text-color);
}

.searchbar button {
    padding: 5px;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    background-color: rgb(229, 83, 248);
    color: white;
    cursor: pointer;
}

.results-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 25px;
}

.search-user-result {
    width: 30vw;
    background-color: var(--third-bg-color);
    box-shadow: 0 1px 5px black;
    margin: 5px;
    list-style: none;
    border-radius: 4px;
    max-width: 300px;
}

.search-user-result a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
    font-size: 1.25rem;
    color: var(--main-text-color);
}

.search-user-result a img {
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid var(--border-color);
}

@media (max-width:650px) {
    .results-container {
        grid-template-columns: 1fr;
    }
    .search-user-result {
        width: 60vw;
    }
}